/*=============== REUSABLE CSS CLASSES ===============*/
.container{
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.main{
    overflow: hidden; /* For the animations ScrollReveal */
}