/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(38, 69%, 59%);
    --text-color: hsl(38, 8%, 8%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Space Grotesk', sans-serif;

    --biggest-font-size: 2.375rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;

    // Responsive typography
    @media screen and (min-width: 1024px){
        --biggest-font-size: 5rem;
        --normal-font-size: 1rem;
        --smaller-font-size: .813rem;
    }
}